.Nav {
  background-color: blueviolet;
  grid-column: middle-start/email-end;
  font-size: 2rem;
  display: grid;
  justify-items: end;
  align-items: center;
}

ul.list {
  text-decoration: none;
  list-style-type: none;
}

ul.list li {
  text-decoration: none;
  display: inline;
  margin-right: 5rem;
}

.Link {
  text-decoration: none;
  color: black;
}
